/* 검색 버튼 */
.btn_search{cursor:pointer;border:none;height:45px;background:#5A71E9;color:#fff;padding:0 20px;white-space:nowrap}
.btn_search:hover{background:#4f66db;font-weight:bold}

.btn_save{cursor:pointer;border:none;height:45px;background:#696969;color:#fff;padding:0 20px;white-space:nowrap}
.btn_save:hover{background:#5a5a5a;font-weight:bold}

.btn_save_total{cursor:pointer;border:none;height:45px;background:#a5a8bb;color:#fff;padding:0 20px;white-space:nowrap}
.btn_save_total:hover{background:#9fa2b4;font-weight:bold}

.btn_download{cursor:pointer;display:inline-block;border:none;height:45px;line-height:45px;background:#696969;color:#fff;padding:0 20px;white-space:nowrap}
.btn_download i{margin-right:10px}
.btn_download:hover{background:#5a5a5a}

/* 기본 버튼 */
.btn{cursor:pointer;display:inline-block;padding:0 20px;font-size:14px;height:45px;line-height:43px;font-weight:bold;font-family:"malgungothic"}
.btn_primary{background:#5A71E9;color:#fff}

/* 화살표가 있는 버튼 */
.search_btn_wrap{position:absolute;right:20px;display:flex}
.search_btn_wrap a{margin-right:1px}

.btn_arrow{display:flex;align-items:center;font-size:14px;padding:0 15px;height:45px;line-height:43px;font-weight:bold;font-family:"malgungothic";
   min-width:165px;}
.btn_arrow i{font-size:12px;color:rgba(255,255,255,0.6);margin-left:auto;}

.arrow_type1{background:#4956A1;color:rgba(255,255,255,0.9);}
.arrow_type1:hover{background:#404d94}
  
.arrow_type2{background:#828abd;color:rgba(255,255,255,0.9);}
.arrow_type2:hover{background:#7981b4}


/* 점검요청 점검완료 등 */
.btn_request{display:inline-block;padding:0 20px;height:35px;line-height:33px;border-radius:3px}
.request_inspect{background:#f5f5f5;color:#666;}
.request_inspect:hover{background:#f2f2f2}

.complete_inspect{background:#627ACC;color:#fff;}
.complete_inspect:hover{background:#5d74c0}

.ing_inspect{background:#e6ecfa;color:#395BCE;}
.ing_inspect:hover{background:#dae1f3}

.btn_cancel{background:#FFF2F2;color:#FF7373}
.btn_cancel:hover{background:#ffe5e5}

.btn_status{display:inline-block;padding:0 10px 0 12px;height:35px;line-height:33px;border-radius:3px;background:#f5f5f5;border:1px solid #ddd;color:#666;text-align:left}
.btn_status i{font-size:13px;color:#777}
.btn_status:hover{background:#f3f3f3}

.cancel_inspect{background:#E5F4F2;color:#389A8D}
.cancel_inspect:hover{background:#e2f7f4}

.btn_basic{display:inline-block;padding:0 12px;height:32px;line-height:30px;border-radius:3px;font-size:14px;}
.btn_basic i{font-size:11px;margin-right:4px}

.btn_modify{background:#f5f5f5;color:#666;border:1px solid #ddd}
.btn_modify:hover{background:#f2f2f2}

.btn_delete{background:#f3f8ff;color:#686868;border:1px solid #ddd}
.btn_delete:hover{background:#ffe5e5}

.button_srch{cursor:pointer;background:#878BA1;color:#fff;border:1px solid #787c91;border-radius:3px;padding:0 14px}
.button_srch:hover{background:#787c91;}

.bottom_btn_wrap{display:flex;justify-content:center;margin-top:40px}
.bottom_btn_cancel{display:block;min-width:120px;height:45px;line-height:43px;padding:0 35px;background:#F2F3F3;color:#95989F;text-align:center;font-size:16px}
.bottom_btn_cancel:hover{background:#e9e9e9}
.bottom_btn_confirm{display:block;min-width:120px;height:45px;line-height:43px;padding:0 35px;background:#5B7FDC;color:#fff;text-align:center;font-size:16px}
.bottom_btn_confirm:hover{background:#5679d3}


/* 대시보드 맵 아이콘 */
.map_icon_wrap{position:absolute;top:20px;right:10px;z-index:9;width:42px;display:flex;flex-wrap:wrap;justify-content:center;}
.map_icon_wrap .map_icon{display:block;cursor:pointer;width:34px;height:34px;border-radius:3px;;border:0;margin-bottom:2px;}
.map_icon_wrap .map_icon:hover{background-color:#f2f2f2}
.map_icon_wrap .current_location{background:#fff url(../images/icon/icon_current_location.png) center center no-repeat;margin-bottom:10px}
.map_icon_wrap .btn_zoom_in{background:#fff url(../images/icon/icon_btn_zoomin.png) center center no-repeat}
.map_icon_wrap .btn_zoom_out{background:#fff url(../images/icon/icon_btn_zoomout.png) center center no-repeat}

.map_icon_wrap ul{margin:10px 0 0 0;border-radius:3px;overflow:hidden}
.map_icon_wrap ul.map_icon_con li button{cursor:pointer;display:flex;justify-content:center;align-items:center;width:34px;height:34px;border:0;background:#fff}
.map_icon_wrap ul.map_icon_con li button svg{width:20px;height:20px;fill:#676767}
.map_icon_wrap ul.map_icon_con li button.active svg,.map_icon_wrap ul.map_icon_con li button:hover svg{fill:#fff !important}
.map_icon_wrap ul.map_icon_con li button.active,.map_icon_wrap ul.map_icon_con li button:hover{background-color:#8783a5}

/* .map_icon_wrap ul.map_icon_con li a:hover{background-color:#f2f2f2}
.map_icon_wrap .btn_area{background:#fff url(../images/icon/icon_btn_area.png) center center no-repeat}
.map_icon_wrap .btn_radius{background:#fff url(../images/icon/icon_btn_radius.png) center center no-repeat}
.map_icon_wrap .btn_distance{background:#fff url(../images/icon/icon_btn_distance.png) center center no-repeat} */

.map_icon_wrap .btn_cctv{display:block;cursor:pointer;width:42px;height:42px;margin-top:20px;background:#fff url(../images/icon/icon_btn_cctv.png) center center no-repeat;
   border-radius:3px;border:0}
.map_icon_wrap .btn_cctv:hover{background-color:#f2f2f2}