
/* 품질관리 */
.area_graph_quality{margin:-10px auto 10px} /* 품질관리 디자인 이미지 작성 css -- 추후 지울것 */
.area_graph_box2{display:flex;justify-content:center;}

.area_viewer{width:100%;min-height:800px;height:100%;background:#f2f2f2 url(../images/common/ready_sample.png) center 40% no-repeat;}

/* cctv */
.media_bgwrap{width:100%;min-height:850px;background:#f8f8f8;padding:20px;border-top:1px solid #eee;border-bottom:1px solid #eee}
.media_cctv_wrap{display:flex;flex-wrap:wrap;gap:10px}
.media_cctv_wrap .cctv_box{position:relative;height:351px;width:calc(100% / 4 - 10px)}

.media_cctv_wrap .cctv_box h4{width:100%;height:45px;font-size:17px;background:#DBDBDB;color:#333;font-weight:600;display:flex;align-items:center;padding:0 20px;}
.media_cctv_wrap .cctv_box .cctv_screen{height:306px}
.media_cctv_wrap .cctv_box .cctv_screen img{width:100%;height:100%}
.media_cctv_wrap .cctv_box .alarm{width:100%;height:45px;line-height:45px;padding:0 20px;position:absolute;left:0;bottom:0;z-index:9;color:#fff;font-size:16px;font-weight:500}
.media_cctv_wrap .cctv_box .alarm-1{background:rgb(211, 47, 47,0.6);}
.media_cctv_wrap .cctv_box .alarm-2{background:rgb(255, 170, 43,0.6);}
.media_cctv_wrap .cctv_box .alarm-3{background:rgb(64, 124, 215,0.6);}

.media_cctv_wrap .cctv_box ul.data_list{position:absolute;right:8px;bottom:52px;z-index:9;color:#fff;background:rgba(0,0,0,0.4);line-height:20px;
    padding:12px 30px 12px 15px;font-size:15px;font-weight:300}



/* cctv2 */
.h3_wrap{display:flex;align-items:center;}
.h3_wrap select{position:absolute;right:20px}
.content_bgwrap{width:100%;height:auto;background:#f2f2f2;padding:20px;border-top:1px solid #eee;border-bottom:1px solid #eee}
.cctv_wrap{display:grid;gap:10px}
.cctv_wrap .cctv_box{position:relative}
.cctv_wrap.columns-1{grid-template-columns: 1fr}
.cctv_wrap.columns-2{grid-template-columns: repeat(2, 1fr);}
.cctv_wrap.columns-3{grid-template-columns: repeat(3, 1fr);}
.cctv_wrap.columns-4{grid-template-columns: repeat(4, 1fr);}

.cctv_wrap .cctv_box h4{width:100%;height: 40px;font-size:17px;background:#9496ac;color:#fff;font-weight:600;display:flex;align-items:center;padding:0 20px;}
.cctv_wrap .cctv_box .cctv_screen{height:340px}
.cctv_wrap .cctv_box .cctv_screen img{width:100%;height:100%}
.cctv_wrap .cctv_box .alarm{width:100%;height:45px;line-height:45px;padding:0 20px;position:absolute;left:0;bottom:0;z-index:9;color:#fff;font-size:16px;font-weight:500}
.cctv_wrap .cctv_box .alarm-1{background:rgb(211, 47, 47,0.6);}
.cctv_wrap .cctv_box .alarm-2{background:rgb(255, 170, 43,0.6);}
.cctv_wrap .cctv_box .alarm-3{background:rgb(64, 124, 215,0.6);}
.cctv_wrap .cctv_box ul.data_list{position:absolute;right:8px;bottom:52px;z-index:9;color:#fff;background:rgba(0,0,0,0.4);line-height:20px;
    padding:12px 30px 12px 15px;font-size:15px;font-weight:300}


