@charset "utf-8";
/* common */

.custom-checkbox {position:absolute;opacity:0;width:20px;height:20px;cursor: pointer; }
.custom-checkbox-label {display:flex;position:relative;padding-left:24px;cursor: pointer; user-select:none;font-size:16px;color:#333;}
.custom-checkbox-label::before {content: "";position:absolute;left:0;top:0;width:16px;height:16px;border-radius:3px;background-color:#CCD3EA; }
.custom-checkbox:checked + .custom-checkbox-label::before{background-color: #5A71E9;border-color: #5A71E9}
.custom-checkbox:checked + .custom-checkbox-label::after{content: "";position:absolute;left:5px;top:1px;width:4px;height:8px;border:solid #fff;border-width:0 2px 2px 0;transform:rotate(45deg)}

/* title */
.dash_title{color:#28388C;padding-bottom:8px}

/* table */
.dashboard_tab2{display:flex;width:100%;padding-bottom:8px}
.dashboard_tab2 li a{display:block;height:45px;line-height:43px;background:#E2E5F9;text-align:center;color:#6C7EB4;margin-right:1px;padding:0 30px}
.dashboard_tab2 li:last-child a{margin-right:0}
.dashboard_tab2 li a.active{background:#5A71E9;color:#fff}
.dashboard_tab2 li a:hover{background:#dbdff7;font-weight:700}
.dashboard_tab2 li a.active:hover{background:#5A71E9;}


/* layout  */
#header {width:100%;height:68px;position:fixed;top:0;background:#3D448D;display:flex;align-items:center;padding:0 20px;box-shadow:0 10px 15px rgba(0,0,0,0.1);z-index:9}
#header .top_menu{margin:0 auto;display:flex;justify-content:center;align-items:center;height:100%}
#header .top_menu ul{display:flex;gap:50px}
#header .top_menu ul li a{color:#fff;font-size:17px;}

#header .header_login_info{display:flex;gap:15px;align-items:center;}
#header .header_login_info .profile_img{display:flex;color:#fff;font-weight:600;align-items:center}
#header .header_login_info .profile_img img{margin-right:8px}
#header .header_login_info .profile_img span{color:#C3C7FB;font-size:14px;font-weight:400;letter-spacing:0;padding-left:6px}
#header .header_login_info a{color:#fff;font-size:16px;}

#main_container_wrap{margin-top:68px;display:flex;justify-content:space-between;}
#main_container_wrap .left_list{width:460px;height:100vh;background:#F2F5FF;padding:20px}
#main_container_wrap .right_list{width:460px;height:100vh;background:#F2F5FF;padding:20px;}


/* main table */
.main_table_type1{margin-top:10px;max-height:80%;overflow-y:scroll}
.main_table_type1 table{width:100%;}
.main_table_type1 th{background:#CCD9FD;color:#3856CB;font-weight:700;font-size:14px;border-right:1px solid #C1CAE4;padding:4px;vertical-align: middle;}
.main_table_type1 td{min-height:45px;padding:16px 4px;text-align:center;color:#646C95;border-bottom:1px solid #C1CAE4;background:#fff;font-size:16px}
.main_table_type1 tr:nth-child(odd) td{background-color: #fff}
.main_table_type1 tr:nth-child(even) td{background-color: #F0F3FB}

.main_table_type2{margin-top:10px;max-height:80%;overflow-y:scroll}
.main_table_type2 table{width:100%;}
.main_table_type2 th{background:#CCD9FD;color:#3856CB;font-weight:700;font-size:14px;border-right:1px solid #C1CAE4;padding:4px;vertical-align: middle;height:45px}
.main_table_type2 td{min-height:45px;padding:16px 4px;text-align:center;color:#646C95;border-bottom:1px solid #C1CAE4;background:#fff;font-size:16px}
.main_table_type2 tr:nth-child(odd) td{background-color: #fff}
.main_table_type2 tr:nth-child(even) td{background-color: #F0F3FB}


/* recent_status_top #최근지진 계측현황 */ 
.left_list .article_status{padding-bottom:20px}

/* 계측소검색 */
.article_measure_search .search_wrapper{display:flex;flex-wrap:wrap;gap:12px;padding:12px 0}
.article_measure_search .search_wrapper > * {flex: 1 1 calc(33.33% - 12px);}

/* 지도api 임시 */
.map_placeholder{position:relative;flex:1;height:100vh;background:#222;color: #fff;display: flex;justify-content: center;align-items: center;font-size: 18px;font-weight: bold;}


/* 범례1 */
.legend-container{position:absolute;bottom:20px;left:20px;background-color:rgba(0,0,0,0.8);padding:20px 45px 25px 15px;box-shadow:0 1px 5px rgba(0,0,0,0.1);min-height:130px}
.legend-title{font-size:14px;color:#fff;padding-bottom:8px}
.legend-items{display:flex;flex-direction:column;gap:5px;}
.legend-item{display:flex;align-items:center;font-size:13px;color:#fff;font-weight:300}
.legend-color{width:12px;height:12px;border-radius:50%;margin-right:5px;}
.color-blue{background-color:#0DA6FD;}
.color-yellow{background-color:#F7C33B;}
.color-orange{background-color:#F7A355;}
.color-red{background-color:#F85C5C;}

/* 범례2 */
.legend-container{position:absolute;bottom:20px;left:20px;background-color:rgba(0,0,0,0.8);padding:20px 45px 25px 15px;box-shadow:0 1px 5px rgba(0,0,0,0.1)}
.legend-container .legend-items .custom-checkbox-label{color:#fff;font-weight:400;font-size:14px}
